<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    StackOverflow
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
          <input type="text" (change)="onSearchChange($event.target.value)" value="" placeholder="Search question..." class="form-control">
      </div>
    </div>
    <div *ngIf="isLoading" class="row">
      <div class="col-sm-12">
          Loading....
      </div>
    </div>
    <div *ngFor="let question of questions" class="row">
      <div class="col-sm-12">
        <app-question-component [question]="question"></app-question-component>
      </div>
    </div>
  </div>
</div>



