/* You can add global styles to this file, and also import other style files */

body{
  background-image: url('./assets/img/blurred-image-1.jpg');
  background-size: cover;
}

.tab-content>.active{
 overflow: auto !important;
}

.card {
  overflow: auto !important;
  width: 1000px !important;
}
